.footer {
    height: 95px;
    width: 100%;
    background-color: #ffa500;
    text-align: center;
    color: #fff; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
  }
.fix{
    width: 100%;

}
.footer p {
    text-align: center;
    font-size: 14px;    
  }
  